*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
box-sizing: border-box;
padding: 0;
margin: 0;
overflow-x: hidden;
}

.welcome {
height: 100vh;
display: grid;
justify-content: center;
align-items: center;
margin: auto;
background-image: url('images/pt3.jpg');
background-repeat: no-repeat;
background-size: cover;
margin-left: auto;
margin-right: auto;
width: 100%;
}

.welcome >.welcome-txt{
    display: grid;
    text-align: center;
    justify-self: center;
    width: auto;
    margin: auto;
}

.welcome > .welcome-logo{
    display: grid;
    align-items: center;
    justify-self: center;
    width: auto;
    margin: auto;
    font-size: 21px;
}

.about{
    margin: auto;
    padding: auto;
    display: block;
    align-items: center;
    overflow-wrap: normal ;
    margin-bottom: 1.6%;
}
.about > .about-head{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    font-weight: 800;
}

.about > .about-body{
    text-align: center;
    font-size: 21px;
    margin-left: auto;
    margin-right: auto;
}

.service{
    margin: auto;
    padding: auto;
    display: block;
    align-items: center;
    overflow-wrap: normal;
    margin-bottom: 1.6%;
}

.service > .service-head{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    font-weight: 800;
}

.service > .service-body{
    text-align: center;
    font-size: 21px;
    margin-left: auto;
    margin-right: auto;
}