*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
box-sizing: border-box;
padding: 0;
margin: 0;
overflow-x: hidden;
}

.welcome {
height: 100vh;
display: grid;
justify-content: center;
align-items: center;
margin: auto;
background-image: url("../images/backgrounds/h_img.jpg");
background-repeat: no-repeat;
background-size: cover;
margin-left: auto;
margin-right: auto;
width: 100%;
}

.welcome >.welcome-txt{
    display: grid;
    text-align: center;
    justify-self: center;
    width: auto;
    margin: auto;
    color: #ffffff;
    margin-top: -80px;
}

.welcome >.welcome-txt > h3{
    font-size: 50px;
    margin-bottom: 7.5%;
    text-align: center;
}

.welcome > .welcome-logo{
    display: flex;
    /* align-items: center; */
    justify-self: center;
    /* width: auto;
    margin: auto; */
}

.welcome > .welcome-mouse{
    position: absolute;
    bottom: 15px;
    display: grid;
    align-items: center;
    justify-self: center;
    width: auto;
    margin: auto;
    margin-top: 20%;
}

.about{
    margin: auto;
    padding: auto;
    display: block;
    align-items: center;
    justify-content: center;
    overflow-wrap: normal ;
    margin-bottom: 2.3%;
    padding-top: 4%;
    width: 100%;
    height: 50vh;
}
.about > .about-head{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    font-weight: 800;
}

.about > .about-body{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font: 18px;
}

.services{
    margin: auto;
    padding: auto;
    padding-top: 100px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    height: 60vh;
    width: 100%;
    background-image: url("../images/backgrounds/s_image.jpg");
}

.what{
    height: 30vh;
    margin: auto;
    padding: auto;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 2.5%;
}

.what  .container > .what-heading h3{
    text-align: center;
    margin-bottom: 2.5%;
}

.what .container #whatsec .design #text1{
    display: none;
}

.what .container #whatsec .development #text2{
    display: none;
}

.what .container #whatsec .product #text3{
    display: none;
}

.portfo .container .row{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.portfo .portfo-heading h3{
    margin-top: 2%;
    margin-bottom: 1.5%;
    text-align: center;
}

.portfo .container .row #col1 #txt1{
    position: relative;
    display: none;
    
}

.portfo .container .row #col2 #txt2{
    position: relative;
    display: none;

}

.portfo .container .row #col3 #txt3{
    position: relative;
    display: none;
    
}

.portfo .container .row #col4 #txt4{
    position: relative;
    display: none;
}

.portfo .container .row #col5 #txt5{
    position: relative;
    display: none;
}

.portfo .container .row #col6 #txt6{
    position: relative;
    display: none;
}

.portfo .container .row #col7 #txt7{
    display: none;
    position: relative;
}

.portfo .container .row #col8 #txt8{
    position: relative;
    display: none;
}

.portfo .container .row #col1:hover{
    opacity: 0.5;
}

.portfo .container .row #col2:hover{
    opacity: 0.5;
}

.portfo .container .row #col3:hover{
    opacity: 0.5;
}

.portfo .container .row #col4:hover{
    opacity: 0.5;
}

.portfo .container .row #col5:hover{
    opacity: 0.5;
}

.portfo .container .row #col6:hover{
    opacity: 0.5;
}

.portfo .container .row #col7:hover{
    opacity: 0.5;
}

.portfo .container .row #col8:hover{
    opacity: 0.5;
}

.contactus{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding: 0;
    padding-top: 1.5%;
    margin: 0;
    background-image: url("../images/backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 62vh;
    margin-bottom: 2%;
    margin-top: 2%;
}

.contactus .contactus-heading{
    text-align: center;
    color: #ffffff;
    margin-top: 1.8%;
    margin-bottom: 1.5%;
} 

.contactus .contactus-body{
    align-items: center;
    justify-content: center;
    display: flex;
}

.container .row .col-sm{
    cursor: pointer;
}

#butt{
    margin-top: 1%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    padding: 3px 17px;
    width: 12%;
    justify-content: center;
    margin-left: 45%;
    color: #ffffff;
}